apiVersion: v1
kind: Service
metadata:
  name: web-app-service
spec:
  type: LoadBalancer # Exposes the service on localhost for Docker Desktop
  selector:
    app: web-app
  ports:
    - protocol: TCP
      port: 80       # The port the service exposes
      targetPort: 80 # The port the container is listening on
